# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Editors / OS
.DS_Store
.idea/
.vscode/
*.swp
.ipynb_checkpoints/

# Logs
*.log
